@import "tailwindcss";

body {
  background-color: #ffffff;
}


/* bg-colors-start----------- */

.bg-white-100 {
  background-color: #ffff;
}

.bg-white-200 {
  background-color: #F7F1FF;
}

.bg-white-300 {
  background-color: #E6D4FE;
}

.bg-primary-100 {
  background-color: #7C21FC;
}

.bg-primary-200 {
  background-color: #661DCC;
}

.bg-primary-300 {
  background-color: #4F179C;
}

.bg-black-100 {
  background-color: #3E344F;
}

.bg-black-200 {
  background-color: #16131C;
}

.bg-black-300 {
  background-color: #0000;
}

/* bg-colors-end-------------*/


/* colors-start----------- */

.white-100 {
  color: #ffff;
}

.white-200 {
  color: #F7F1FF;
}

.white-300 {
  color: #E6D4FE;
}

.primary-100 {
  color: #7C21FC;
}

.primary-200 {
  color: #661DCC;
}

.primary-300 {
  color: #4F179C;
}

.black-100 {
  color: #3E344F;
}

.black-200 {
  color: #16131C;
}

.black-300 {
  color: #0000;
}

/* colors-end-------------*/










/* colors */

.bg-primary {
  background-color: #d0a6f2;
}

.bg-secondary {
  background-color: #3E1D7A;
}

.secondary-color {
  color: #48214a;
}

.text-primary {
  color: #3E1D7A;
}

.text-secondary {
  color: #4b0082;
}

.shadow-nav {
  box-shadow: 0px 6px 10px 4px #00000044;
}

/* colors */

/* typography */
.heading {
  font-size: 1.625rem;
}

.sub-heading {
  font-size: 1.25rem;
}

.paragraph {
  font-size: 1rem;
}

/* button */
.button {
  background-color: #7d20f7;
  color: #ffff;
  font-weight: 500;
  padding: 10px 20px;
  display: inline;
  border-radius: 8px;
  cursor: pointer;
}

.bg {
  background-color: #e3e3e3;
}

.bagActive {
  background-color: #7d20f7;
}

.custom-focus:focus {
  border-color: 1px solid #ad46ff;
  box-shadow: 0 0 0 2px #ad46ff4d;
  outline: none;
}


.w-48 {
  width: 48%;
}

.bg-modal-opacity {
  background-color: #00000052;
}


